<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.botarmy.tourwala">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tourwala"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tourwala"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tourwala">
        <activity android:name=".splash_screen"></activity>
        <activity android:name=".Bus" />
        <activity android:name=".SecondActivity" /> <!-- <activity android:name=".UserProfile"></activity> -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".register_form" />
        <activity android:name=".login_form">

        </activity>
    </application>

</manifest>